<html>
    <head>
        <title>Test App</title>
    </head>
    <body>
        <h1>Printing table of {{n}} powers</h1>
        {% for i in range(1,11):%}
            <h4>{{n}} power {{i}}={{n**i}}</h4>
        {%endfor %}
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

        <style>
            body{
                background-image: url("https://images.pexels.com/photos/733852/pexels-photo-733852.jpeg?auto=compress&cs=tinysrgb&w=600");
                background-position: 200%;
                background-size: cover;
            }
        </style>
    </body>
</html>